<header class="header">
  <section class="header__main-currencies main-currencies">
    <div class="main-currencies__item">
      <span class="main-currencies__item__exchange-rate">{{exchangeRateUSD?.toFixed(2)}}</span>
      <img
      class="main-currencies__item__img"
      src="/assets/imgs/free-icon-united-states-of-america-555526.png"
    />

    </div>
    <div class="main-currencies__item">
      <span class="main-currencies__item__exchange-rate">{{exchangeRateEUR?.toFixed(2)}}</span>
      <img
      class="main-currencies__item__img"
      src="/assets/imgs/free-icon-european-union-330426.png"
    />
    </div>
  </section>
</header>
