<section class="exchange">
  <div class="exchange__container">
    <h3 class="exchange__container__title">Exchange</h3>
    <form [formGroup]="form">
<app-currency-input-group
  [amount]="form.get('amount1')?.value"
  [currency]="form.get('currency1')?.value"
  (amountChange)="onAmount1Change($event)"
  (currencyChange)="onCurrency1Change($event)"
></app-currency-input-group>
<app-currency-input-group
  [amount]="form.get('amount2')?.value"
  [currency]="form.get('currency2')?.value"
  (amountChange)="onAmount2Change($event)"
  (currencyChange)="onCurrency2Change($event)"
></app-currency-input-group>
    </form>
  </div>
</section>
